Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

synthetic-monitoring-agent: change Deployment to StatefulSet
  charts/synthetic-monitoring-agent/templates/statefulset.yaml
Owners: @torstenwalter, @zanhsieh

removed autoscaling-resources / increased chart-version
  charts/synthetic-monitoring-agent/Chart.yaml
  charts/synthetic-monitoring-agent/README.md
  charts/synthetic-monitoring-agent/templates/hpa.yaml
  charts/synthetic-monitoring-agent/values.yaml
Owners: @torstenwalter, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bump the Grafana chart to the latest version (7.3.7).
  charts/loki-stack/requirements.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

rollout-operator: Update to v0.14.0
  charts/rollout-operator/Chart.yaml
  charts/rollout-operator/README.md
Owners: @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana] Update to version 10.4.1 (#3039)
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update helm charts for Agent 0.40.3
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
