Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

[loki-distributed] Allow to set maxUnavailable on the rollingUpdate strategy
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/querier/deployment-querier.yaml
  charts/loki-distributed/templates/querier/poddisruptionbudget-querier.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[loki-distributed] bump to 0.78.4
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[agent-operator] Bump version of Grafana Agent to v0.40.2
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

[agent-operator] Bump version of Grafana Agent to v0.40.2 (#3007)
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

feat(grafana): make possible to globally override a specific image registry
  charts/grafana/Chart.yaml
  charts/grafana/README.md
  charts/grafana/templates/_pod.tpl
  charts/grafana/templates/image-renderer-deployment.yaml
  charts/grafana/templates/tests/test.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana] Update to version 10.4.0
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana] bump kiwigrid/k8s-sidecar to 1.26.1
  charts/grafana/Chart.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[grafana] Allow hiding persistence warning
  charts/grafana/Chart.yaml
  charts/grafana/README.md
  charts/grafana/templates/NOTES.txt
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

set 2 replicas and disable autoscaling by default
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

update helm-docs; add decision wait
  charts/sampling/Chart.lock
  charts/sampling/Chart.yaml
  charts/sampling/README.md
  charts/sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

set back to 1 replicas by default to pass ci tests
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

helm-docs
  charts/sampling/README.md
  charts/sampling/README.md.gotmpl
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

add simpified sampling policies
  charts/sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

helm-docs
  charts/sampling/README.md
Owners: @grafana/helm-charts-admins

use kubernetes resolver for loadbalancing exporter
  charts/sampling/templates/_otelcol_exporter_loadbalancing.river.txt
Owners: @grafana/helm-charts-admins

add sampling helm chart
  charts/sampling/.helmignore
  charts/sampling/Chart.lock
  charts/sampling/Chart.yaml
  charts/sampling/templates/_agent_config_deployment.river.txt
  charts/sampling/templates/_agent_config_statefulset.river.txt
  charts/sampling/templates/_helpers.tpl
  charts/sampling/templates/_otelcol_auth_basic.river.txt
  charts/sampling/templates/_otelcol_connector_servicegraph.river.txt
  charts/sampling/templates/_otelcol_connector_spanmetrics.river.txt
  charts/sampling/templates/_otelcol_exporter_loadbalancing.river.txt
  charts/sampling/templates/_otelcol_exporter_otlp.river.txt
  charts/sampling/templates/_otelcol_exporter_prometheus.river.txt
  charts/sampling/templates/_otelcol_processor_batch.river.txt
  charts/sampling/templates/_otelcol_processor_filter.river.txt
  charts/sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/sampling/templates/_otelcol_processor_transform.river.txt
  charts/sampling/templates/_otelcol_receiver_otlp.river.txt
  charts/sampling/templates/_prometheus_remote_write.river.txt
  charts/sampling/templates/configmap_deployment.yaml
  charts/sampling/templates/configmap_statefulset.yaml
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

wire metrics generation toggle
  charts/sampling/templates/_agent_config_statefulset.river.txt
  charts/sampling/templates/_otelcol_processor_batch.river.txt
  charts/sampling/templates/_otelcol_receiver_otlp.river.txt
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

add README.md
  charts/sampling/README.md
Owners: @grafana/helm-charts-admins

upgrade helm-docs to v1.13.1
  .github/workflows/linter.yml
  charts/lgtm-distributed/README.md
  charts/loki-distributed/README.md
  charts/synthetic-monitoring-agent/README.md
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @unguiculus, @Whyeasy, @torstenwalter, @zanhsieh

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

helm-docs and fix typo
  charts/sampling/README.md
  charts/sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

quote decision_wait
  charts/sampling/templates/_otelcol_processor_tail_sampling.river.txt
Owners: @grafana/helm-charts-admins

add transform to drop unneeded resource attributes for spanmetrics
  charts/sampling/templates/_agent_config_statefulset.river.txt
  charts/sampling/templates/_otelcol_processor_transform.river.txt
  charts/sampling/templates/_otelcol_receiver_otlp.river.txt
Owners: @grafana/helm-charts-admins

more doc updates
  charts/sampling/README.md
  charts/sampling/values.yaml
Owners: @grafana/helm-charts-admins

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
