Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix(grafana): Assert "no leaked secrets" must allow secret reference $__file{...}
  charts/grafana/Chart.yaml
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[loki-distributed] fix compactor missing argument
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/compactor/statefulset-compactor.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Change variable name
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Setting Custom Labels on Gateway Ingress is allowed now
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/templates/gateway/ingress-gateway.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[loki-distributed] add compactor working_directory value
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix(tempo): Bump chart version to 1.7.2
  charts/tempo/Chart.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Updated branch
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Add a help message
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Don't fail validation if a variable expansion operator is found.
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Typo s/value/vault/
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Resolved conflicts
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[tempo-distributed] update default memcached image to 1.6.23 for multiple CVEs
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

feat(grafana): Allow to customize empty dir
  charts/grafana/Chart.yaml
  charts/grafana/templates/_pod.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update chart version
  charts/tempo/Chart.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

bump appVersion
  charts/tempo/Chart.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update README.md
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update README.md
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

fix(tempo): Bump chart version to 1.7.2 in README
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Add support for autoscaling for metrics-generator component
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/templates/metrics-generator/hpa.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Updated values.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
