Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh

[loki-stack] update grafana image tag
  charts/loki-stack/Chart.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Increment patch version. Update README.md
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

update for v0.13.0
  charts/rollout-operator/Chart.yaml
  charts/rollout-operator/README.md
Owners: @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Add automount option for service account and pod
  charts/promtail/Chart.yaml
  charts/promtail/templates/_pod.tpl
  charts/promtail/templates/serviceaccount.yaml
  charts/promtail/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[promtail] Update README.md
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Separately configure automountServiceAccountToken
  charts/grafana/Chart.yaml
  charts/grafana/templates/_pod.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[loki-distributed]: remove deprecated flag from compactor deployment
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[tempo-distributed]Missing memcached.nodeSelector in values.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[agent-operator] update helm chart for v0.40
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/crds/monitoring.coreos.com_podmonitors.yaml
  charts/agent-operator/crds/monitoring.coreos.com_probes.yaml
  charts/agent-operator/crds/monitoring.coreos.com_servicemonitors.yaml
  charts/agent-operator/crds/monitoring.grafana.com_grafanaagents.yaml
  charts/agent-operator/crds/monitoring.grafana.com_integrations.yaml
  charts/agent-operator/crds/monitoring.grafana.com_logsinstances.yaml
  charts/agent-operator/crds/monitoring.grafana.com_metricsinstances.yaml
  charts/agent-operator/crds/monitoring.grafana.com_podlogs.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update doc
  charts/agent-operator/README.md
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana] Add `serviceAccount.automountServiceAccountToken` and document `automountServiceAccountToken`
  charts/grafana/Chart.yaml
  charts/grafana/README.md
  charts/grafana/templates/serviceaccount.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

fix: Push charts to GHCR requires login
  .github/workflows/release.yaml
Owners: @grafana/helm-charts-admins

chore: bump kiwigrid/k8s-sidecar in README
  charts/grafana/README.md
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

chore: Bump Chart Version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

chore: Bump Chart version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

chore: Bump kiwigrid/k8s-sidecar:1.26.0
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

chore: Bump kiwigrid/k8s-sidecar:v1.26.0
  charts/grafana/README.md
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update doc
  charts/agent-operator/README.md
Owners: @grafana/helm-charts-admins

[grafana] bump kiwigrid/k8s-sidecar version to 1.25.6
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Separately configure automountServiceAccountToken
  charts/grafana/templates/_pod.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[agent-operator] update helm chart for v0.40
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/crds/monitoring.coreos.com_podmonitors.yaml
  charts/agent-operator/crds/monitoring.coreos.com_probes.yaml
  charts/agent-operator/crds/monitoring.coreos.com_servicemonitors.yaml
  charts/agent-operator/crds/monitoring.grafana.com_grafanaagents.yaml
  charts/agent-operator/crds/monitoring.grafana.com_integrations.yaml
  charts/agent-operator/crds/monitoring.grafana.com_logsinstances.yaml
  charts/agent-operator/crds/monitoring.grafana.com_metricsinstances.yaml
  charts/agent-operator/crds/monitoring.grafana.com_podlogs.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update Loki to version 2.9.5
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[tempo-distributed] switch to new overrides format
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/README.md.gotmpl
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[agent-operator] update helm chart for v0.40.1
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[agent-operator] update helm chart for v0.40.1 (#3004)
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

feat(agent-operator): move crds(agent, prometheus) into separate subcharts
  .gitignore
  charts/agent-operator/Chart.yaml
  charts/agent-operator/charts/agent-crds/Chart.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_grafanaagents.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_integrations.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_logsinstances.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_metricsinstances.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_podlogs.yaml
  charts/agent-operator/charts/prometheus-crds/Chart.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_podmonitors.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_probes.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_servicemonitors.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins
