Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh

Updated README.md
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[agent-operator] v0.39.1
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Fix rendering for parquet dedicated columns value
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Add basic test for parquet dedicated columns
  charts/tempo-distributed/ci/parquet-dedicated-columns.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Added Network Policy for tempo
  charts/tempo/Chart.yaml
  charts/tempo/README.md
  charts/tempo/templates/networkpolicy.yaml
  charts/tempo/values.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Updated README.md
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/tempo/Chart.yaml
  charts/tempo/README.md
  charts/tempo/values.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

fix lint error
  charts/tempo/README.md
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Updated values.yaml
  charts/tempo/README.md
  charts/tempo/values.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

add priorityClassName in readme.md
  charts/agent-operator/README.md
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[promtail] bump promtail version to 2.9.3
  charts/promtail/Chart.yaml
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[loki-distributed] Add overrides exporter
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/overrides-exporter/_helpers-overrides-exporter.tpl
  charts/loki-distributed/templates/overrides-exporter/deployment-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/poddisruptionbudget-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/service-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/servicemonitor-overrides-exporter.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

cleanup
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/overrides-exporter/service-overrides-exporter.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[loki-distributed] Add overrides exporter
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/overrides-exporter/_helpers-overrides-exporter.tpl
  charts/loki-distributed/templates/overrides-exporter/deployment-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/poddisruptionbudget-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/service-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/servicemonitor-overrides-exporter.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update values.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

remove space
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

reverse the order
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[loki-stack] Updated app version
  charts/loki-stack/Chart.yaml
  charts/loki-stack/requirements.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml
  charts/loki-stack/templates/tests/loki-test-pod.yaml
Owners: @grafana/helm-charts-admins

Updated values.yaml and restored loki-test-pod.yaml
  charts/loki-stack/templates/tests/loki-test-pod.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Fixed indentation of deployment.strategy in value.yaml
  charts/promtail/Chart.yaml
  charts/promtail/README.md
  charts/promtail/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Updated README.md
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[tempo-distributed] Update GET to v2.3.2.
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[promtail] bump promtail version to 2.9.3
  charts/promtail/Chart.yaml
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update Chart.yaml
  charts/loki-distributed/Chart.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update README.md
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy
