Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[loki-distributed] Allow distributor service annotations
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/distributor/service-distributor.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

conf(grafana): Add folderUid option
  charts/grafana/Chart.yaml
  charts/grafana/README.md
  charts/grafana/templates/_config.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

chore: fix hpa api selector
  charts/grafana/Chart.yaml
  charts/grafana/templates/_helpers.tpl
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/templates/_helpers.tpl
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Add info about the Kubernetes Monitoring helm chart and a reference to its source repository.
  charts/k8s-monitoring/README.md
Owners: @grafana/helm-charts-admins

Update README.md
  charts/k8s-monitoring/README.md
Owners: @grafana/helm-charts-admins

update png and metrics pipeline order based on PR review
  charts/grafana-sampling/sampling-architecture.png
  charts/grafana-sampling/templates/_otelcol_connector_spanmetrics.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_filter.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_transform.river.txt
Owners: @grafana/helm-charts-admins

remove k8s.pod.name from default dimensions
  charts/grafana-sampling/README.md
  charts/grafana-sampling/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Add missing version, kind to volumeClaimTemplates
  charts/grafana/Chart.yaml
  charts/grafana/templates/statefulset.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

support enableStatefulSetAutoDeletePVC for tempo-distributed ingester
  charts/tempo-distributed/templates/ingester/statefulset-ingester.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana] Update to version 10.4.1
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix: lookup volumename on pvc
  charts/grafana/templates/pvc.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

version bump
  charts/rollout-operator/Chart.yaml
  charts/rollout-operator/README.md
Owners: @grafana/mimir-maintainers

chore: update promtail version
  charts/promtail/Chart.yaml
  charts/promtail/README.md
  charts/promtail/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

remove: statefulset service name suffix (headless)
  charts/tempo/templates/statefulset.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[tempo-distributed]: add action to to relable
  charts/tempo-distributed/templates/lib/service-monitor.tpl
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[tempo-distributed]: bump chart version
  charts/tempo-distributed/Chart.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[tempo-distributed] Update GET to v2.4.0, bump Tempo to v2.4.1.
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update Loki to version 2.9.5
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update Loki to version 2.9.6
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
