Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[loki-distributed] Add overrides-exporter
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/overrides-exporter/_helpers-overrides-exporter.tpl
  charts/loki-distributed/templates/overrides-exporter/deployment-overrides-exporter.yaml
  charts/loki-distributed/templates/overrides-exporter/service-overrides-exporter.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Add override for test image in agent-operator
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/templates/tests/test-grafanaagent.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

chore: related issues:
  charts/grafana/Chart.yaml
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

fix tempo-distributed hpa selector
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/templates/_helpers.tpl
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

fix hpa selector for loki-distributed
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/templates/_helpers.tpl
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Run helm-docs
  charts/agent-operator/README.md
Owners: @grafana/helm-charts-admins

chore: update promtail version
  charts/promtail/Chart.yaml
  charts/promtail/README.md
  charts/promtail/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fixing imagePullSecrets for enterprise components
  charts/tempo-distributed/templates/admin-api/_helpers.tpl
  charts/tempo-distributed/templates/admin-api/admin-api-dep.yaml
  charts/tempo-distributed/templates/enterprise-gateway/_helpers.tpl
  charts/tempo-distributed/templates/enterprise-gateway/gateway-dep.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update Loki to version 2.9.6
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

[tempo-distributed] PersistentVolumeClaim for StatefulSets
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/templates/ingester/statefulset-ingester.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

deleted hostPath
  charts/loki-distributed/templates/securitycontextconstraints.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[grafana-sampling] add sampling helm chart (#2918)
  charts/grafana-sampling/.helmignore
  charts/grafana-sampling/Chart.lock
  charts/grafana-sampling/Chart.yaml
  charts/grafana-sampling/README.md
  charts/grafana-sampling/README.md.gotmpl
  charts/grafana-sampling/sampling-architecture.png
  charts/grafana-sampling/templates/_agent_config_deployment.river.txt
  charts/grafana-sampling/templates/_agent_config_statefulset.river.txt
  charts/grafana-sampling/templates/_helpers.tpl
  charts/grafana-sampling/templates/_otelcol_auth_basic.river.txt
  charts/grafana-sampling/templates/_otelcol_connector_servicegraph.river.txt
  charts/grafana-sampling/templates/_otelcol_connector_spanmetrics.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_loadbalancing.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_otlp.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_prometheus.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_batch.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_filter.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_transform.river.txt
  charts/grafana-sampling/templates/_otelcol_receiver_otlp.river.txt
  charts/grafana-sampling/templates/_prometheus_remote_write.river.txt
  charts/grafana-sampling/templates/configmap_deployment.yaml
  charts/grafana-sampling/templates/configmap_statefulset.yaml
  charts/grafana-sampling/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Adding configmap annotation with example in values file how to use it with ArgoCD in case configmap is too big.
  charts/grafana/Chart.yaml
  charts/grafana/templates/configmap.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

feat: added ingester pvc labels
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/templates/ingester/statefulset-ingester.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

fix: Push charts to GHCR requires login
  .github/workflows/release.yaml
Owners: @grafana/helm-charts-admins

chore: removed whitespace
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

feat: add support for dual stack clusters
  charts/grafana/README.md
  charts/grafana/templates/service.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix: Push charts to GHCR requires login (#2998)
  .github/workflows/release.yaml
Owners: @grafana/helm-charts-admins

[loki-distributed]: update AppVersion
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix indent suggested by @zanhsieh
  charts/loki-distributed/templates/_helpers.tpl
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

include review suggested by @zanhsieh
  charts/grafana/templates/_helpers.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

feat(agent-operator): move crds(agent, prometheus) into separate subcharts
  .gitignore
  charts/agent-operator/Chart.yaml
  charts/agent-operator/charts/agent-crds/Chart.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_grafanaagents.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_integrations.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_logsinstances.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_metricsinstances.yaml
  charts/agent-operator/charts/agent-crds/crds/monitoring.grafana.com_podlogs.yaml
  charts/agent-operator/charts/prometheus-crds/Chart.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_podmonitors.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_probes.yaml
  charts/agent-operator/charts/prometheus-crds/crds/monitoring.coreos.com_servicemonitors.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

chore: update docs and try to fix linter
  charts/agent-operator/README.md
  charts/agent-operator/README.md.gotmpl
  charts/agent-operator/charts/agent-crds/README.md
  charts/agent-operator/charts/agent-crds/values.yaml
  charts/agent-operator/charts/prometheus-crds/README.md
  charts/agent-operator/charts/prometheus-crds/values.yaml
Owners: @grafana/helm-charts-admins

chore: update docs and version bump
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/README.md.gotmpl
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
