Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

new line added
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

remove space
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

bump the minor version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

add doc
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

bump version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bump nginx to 1.25-alpine
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

ran helm-docs
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

alphabetical order on config
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update metrics generator storage remote_write url
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update Chart.yaml
  charts/agent-operator/Chart.yaml
Owners: @grafana/helm-charts-admins

Update values.yaml
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

[loki-distributed] Add support of startupProbe to all pods
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/_helpers.tpl
  charts/loki-distributed/templates/compactor/_helpers-compactor.tpl
  charts/loki-distributed/templates/compactor/deployment-compactor.yaml
  charts/loki-distributed/templates/compactor/statefulset-compactor.yaml
  charts/loki-distributed/templates/distributor/deployment-distributor.yaml
  charts/loki-distributed/templates/gateway/deployment-gateway.yaml
  charts/loki-distributed/templates/index-gateway/statefulset-index-gateway.yaml
  charts/loki-distributed/templates/ingester/deployment-ingester.yaml
  charts/loki-distributed/templates/ingester/statefulset-ingester.yaml
  charts/loki-distributed/templates/memcached-chunks/statefulset-memcached-chunks.yaml
  charts/loki-distributed/templates/memcached-frontend/statefulset-memcached-frontend.yaml
  charts/loki-distributed/templates/memcached-index-queries/statefulset-memcached-index-queries.yaml
  charts/loki-distributed/templates/memcached-index-writes/statefulset-memcached-index-writes.yaml
  charts/loki-distributed/templates/querier/deployment-querier.yaml
  charts/loki-distributed/templates/querier/statefulset-querier.yaml
  charts/loki-distributed/templates/query-frontend/deployment-query-frontend.yaml
  charts/loki-distributed/templates/query-scheduler/deployment-query-scheduler.yaml
  charts/loki-distributed/templates/ruler/deployment-ruler.yaml
  charts/loki-distributed/templates/ruler/statefulset-ruler.yaml
  charts/loki-distributed/templates/table-manager/deployment-table-manager.yaml
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Bumped Version
  charts/promtail/Chart.yaml
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bump patch version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

fix: zero replication for grafana deployment
  charts/grafana/templates/deployment.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

[loki-canary] Add relabelings/metricRelabelings to servicemonitor
  charts/loki-canary/Chart.yaml
  charts/loki-canary/README.md
  charts/loki-canary/templates/servicemonitor.yaml
  charts/loki-canary/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update charts/grafana/Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

ci(tempo-distributed): bumps chart version
  charts/tempo-distributed/Chart.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid
