Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bumped Version
  charts/promtail/Chart.yaml
  charts/promtail/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped Chart version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped chart version
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix: serviceName for Statefulset
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/templates/ingester/statefulset-ingester.yaml
  charts/tempo-distributed/templates/memcached/statefulset-memcached.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[grafana] Allow prefix field in envFrom entries
  charts/grafana/templates/_pod.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[grafana] bump chart minor version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

fix: documentation
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bump version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Added missing namespace in deployment template
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/templates/operator-deployment.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix: makes sidecar.dashboards.providers[].folder default to the name of the provider if not provided
  charts/grafana/templates/_config.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

feat: adds multi-org support to sidecar dashboards
  charts/grafana/templates/_config.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

fix(grafana): documenst values for sidecar.dashboards.providers
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

feat: adds default values to sidercar.dashboards.providers to allow more concise values
  charts/grafana/templates/_config.tpl
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Modified values.yaml and requirements.yaml
  charts/loki-stack/requirements.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Restored values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Modified values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Modified values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Reverted values.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Modified loki-test-pod.yaml
  charts/loki-stack/templates/tests/loki-test-pod.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Reverted loki-test-pod.yaml and values.yaml
  charts/loki-stack/templates/tests/loki-test-pod.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

chart version update
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[grafana] Allow prefix field in envFrom entries
  charts/grafana/templates/_pod.tpl
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

main version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

version 10.3.1
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update Chart.yaml
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

docs(lint): updates comments for sidecar.dashboards.providers to pass lint checks
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update Loki to version 2.9.4
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

version typo
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy
