Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh

[tempo-distributed] adds support for enabling IPv6 configuration
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

docs(tempo-distributed): updates helm-docs
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[loki-distributed] Add missing namespace metadata to resources
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/templates/compactor/poddisruptionbudget-compactor.yaml
  charts/tempo-distributed/templates/compactor/service-compactor.yaml
  charts/tempo-distributed/templates/distributor/poddisruptionbudget-distributor.yaml
  charts/tempo-distributed/templates/ingester/poddisruptionbudget-ingester.yaml
  charts/tempo-distributed/templates/metrics-generator/poddisruptionbudget-metrics-generator.yaml
  charts/tempo-distributed/templates/querier/poddisruptionbudget-querier.yaml
  charts/tempo-distributed/templates/query-frontend/poddisruptionbudget-query-frontend.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

[loki-distributed] Add kind & apiVersion to volumeClaims
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/templates/compactor/statefulset-compactor.yaml
  charts/loki-distributed/templates/index-gateway/statefulset-index-gateway.yaml
  charts/loki-distributed/templates/ingester/statefulset-ingester.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix service labels customization through values
  charts/tempo/Chart.yaml
  charts/tempo/templates/service.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update Grafana to version 10.3.3
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

autoMount set to false in values.yaml
  charts/grafana/Chart.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

automountServiceAccountToken set to false in values.yaml
  charts/loki-distributed/Chart.yaml
  charts/loki-distributed/README.md
  charts/loki-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update README.md
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update README.md
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update README.md
  charts/loki-distributed/README.md
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

feat: add possibility to set resources for the testframework container
  charts/grafana/Chart.yaml
  charts/grafana/templates/tests/test.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Fix loki-distributed replicas configuration
  charts/loki-distributed/templates/compactor/deployment-compactor.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

add support for zipkin receiver
  charts/tempo/values.yaml
Owners: @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Revert "Merge pull request #2977 from Sheikh-Abubaker/auto-mount-pr"
  charts/grafana/Chart.yaml
  charts/grafana/values.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Bumped Version
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins
