Repository grafana/helm-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @grafana/helm-charts-admins, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @dgzlopes, @swartz-k, @BitProcessor, @faustodavid, @mapno, @grafana/mimir-maintainers

more doc updates
  charts/sampling/Chart.yaml
  charts/sampling/README.md
  charts/sampling/README.md.gotmpl
Owners: @grafana/helm-charts-admins

move sampling to grafana-sampling
  charts/grafana-sampling/.helmignore
  charts/grafana-sampling/Chart.lock
  charts/grafana-sampling/Chart.yaml
  charts/grafana-sampling/README.md
  charts/grafana-sampling/README.md.gotmpl
  charts/grafana-sampling/templates/_agent_config_deployment.river.txt
  charts/grafana-sampling/templates/_agent_config_statefulset.river.txt
  charts/grafana-sampling/templates/_helpers.tpl
  charts/grafana-sampling/templates/_otelcol_auth_basic.river.txt
  charts/grafana-sampling/templates/_otelcol_connector_servicegraph.river.txt
  charts/grafana-sampling/templates/_otelcol_connector_spanmetrics.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_loadbalancing.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_otlp.river.txt
  charts/grafana-sampling/templates/_otelcol_exporter_prometheus.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_batch.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_filter.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_tail_sampling.river.txt
  charts/grafana-sampling/templates/_otelcol_processor_transform.river.txt
  charts/grafana-sampling/templates/_otelcol_receiver_otlp.river.txt
  charts/grafana-sampling/templates/_prometheus_remote_write.river.txt
  charts/grafana-sampling/templates/configmap_deployment.yaml
  charts/grafana-sampling/templates/configmap_statefulset.yaml
  charts/grafana-sampling/values.yaml
Owners: @grafana/helm-charts-admins

additional docs updates
  charts/grafana-sampling/README.md
  charts/grafana-sampling/README.md.gotmpl
  charts/grafana-sampling/sampling-architecture.png
  charts/grafana-sampling/values.sample.yaml
Owners: @grafana/helm-charts-admins

remove sample file
  charts/grafana-sampling/values.sample.yaml
Owners: @grafana/helm-charts-admins

shorten names to pass tests
  charts/grafana-sampling/README.md
  charts/grafana-sampling/templates/_otelcol_exporter_loadbalancing.river.txt
  charts/grafana-sampling/templates/configmap_deployment.yaml
  charts/grafana-sampling/templates/configmap_statefulset.yaml
  charts/grafana-sampling/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

update helm-docs to v1.13.1
  .github/workflows/linter.yml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

fix type in url
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

chore: added "self-hosted" renovate
  .github/renovate.json
  .github/renovate.json5
  .github/renovate/entrypoint.sh
  .github/renovate/postupgrade.sh
  .github/workflows/lint-test.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
  .github/workflows/update-helm-repo.yaml
  charts/agent-operator/Chart.yaml
  charts/enterprise-logs/Chart.yaml
  charts/fluent-bit/Chart.yaml
  charts/grafana/Chart.yaml
  charts/loki-canary/Chart.yaml
  charts/loki-distributed/Chart.yaml
  charts/promtail/Chart.yaml
  charts/rollout-operator/Chart.yaml
  charts/snyk-exporter/Chart.yaml
  charts/synthetic-monitoring-agent/Chart.yaml
  charts/tempo-distributed/Chart.yaml
  charts/tempo-vulture/Chart.yaml
  charts/tempo/Chart.yaml
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @maorfr, @torstenwalter, @Xtigyro, @zanhsieh, @unguiculus, @Whyeasy, @grafana/mimir-maintainers, @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid, @dgzlopes

chore: added couple of fixes
  .github/workflows/linter.yml
  .github/workflows/renovate.yaml
Owners: @grafana/helm-charts-admins

chore: Introduced Renovate (WIP)
  .github/renovate.json
  .github/workflows/lint-test.yaml
  .github/workflows/linter.yml
  .github/workflows/release.yaml
  .github/workflows/update-helm-repo.yaml
Owners: @grafana/helm-charts-admins

chore: made .sh files executable
  .github/renovate/entrypoint.sh
  .github/renovate/postupgrade.sh
Owners: @grafana/helm-charts-admins

chore: added couple of fixes
  .github/renovate.json5
  .github/workflows/renovate.yaml
Owners: @grafana/helm-charts-admins

[grafana] Update to version 10.4.0
  charts/grafana/Chart.yaml
Owners: @maorfr, @torstenwalter, @Xtigyro, @zanhsieh

[loki-stack] update grafana image tag
  charts/loki-stack/Chart.yaml
  charts/loki-stack/values.yaml
Owners: @grafana/helm-charts-admins

chore: bump chart versions
  charts/agent-operator/Chart.yaml
  charts/enterprise-logs/Chart.yaml
  charts/fluent-bit/Chart.yaml
  charts/loki-canary/Chart.yaml
  charts/loki-distributed/Chart.yaml
  charts/promtail/Chart.yaml
  charts/rollout-operator/Chart.yaml
  charts/snyk-exporter/Chart.yaml
  charts/synthetic-monitoring-agent/Chart.yaml
  charts/tempo-distributed/Chart.yaml
  charts/tempo-vulture/Chart.yaml
  charts/tempo/Chart.yaml
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/mimir-maintainers, @torstenwalter, @zanhsieh, @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid, @dgzlopes

chore: bump super-linter version
  .github/workflows/linter.yml
Owners: @grafana/helm-charts-admins

chore: helm-docs
  .github/renovate/entrypoint.sh
  .github/renovate/postupgrade.sh
  charts/agent-operator/README.md
  charts/lgtm-distributed/README.md
  charts/loki-canary/README.md
  charts/loki-distributed/README.md
  charts/promtail/README.md
  charts/rollout-operator/README.md
  charts/snyk-exporter/README.md
  charts/synthetic-monitoring-agent/README.md
  charts/tempo-distributed/README.md
  charts/tempo-vulture/README.md
  charts/tempo/README.md
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/mimir-maintainers, @torstenwalter, @zanhsieh, @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid, @dgzlopes

chore: helm-docs 1.8.1
  charts/lgtm-distributed/README.md
  charts/loki-distributed/README.md
  charts/synthetic-monitoring-agent/README.md
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @unguiculus, @Whyeasy, @torstenwalter, @zanhsieh

chore: fix super-linter
  .github/workflows/linter.yml
Owners: @grafana/helm-charts-admins

[agent-operator] update helm chart to use new agent version
  charts/agent-operator/Chart.yaml
  charts/agent-operator/README.md
  charts/agent-operator/values.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bumped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Bunped Version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

removed autoscaling-resources / increased chart-version
  charts/synthetic-monitoring-agent/Chart.yaml
  charts/synthetic-monitoring-agent/README.md
  charts/synthetic-monitoring-agent/templates/hpa.yaml
  charts/synthetic-monitoring-agent/values.yaml
Owners: @torstenwalter, @zanhsieh

synthetic-monitoring-agent: change Deployment to StatefulSet
  charts/synthetic-monitoring-agent/templates/statefulset.yaml
Owners: @torstenwalter, @zanhsieh

updated helm-docs
  charts/lgtm-distributed/README.md
  charts/loki-distributed/README.md
  charts/synthetic-monitoring-agent/README.md
Owners: @grafana/helm-charts-admins, @grafana/loki-squad, @unguiculus, @Whyeasy, @torstenwalter, @zanhsieh

update docs
  charts/tempo-distributed/README.md
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

use new cache config, update tempo to 2.4, update chart version
  charts/tempo-distributed/Chart.yaml
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Add bloom to the cache role
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

make cache configurable and add comments
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

Update index.yaml
  index.yaml
Owners: @grafana/helm-charts-admins

DOCS fix tempo-distributed
  charts/tempo-distributed/values.yaml
Owners: @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

DOCS fix typo ingester
  charts/loki-distributed/README.md
  charts/loki-distributed/values.yaml
  charts/tempo-distributed/README.md
  charts/tempo-distributed/values.yaml
Owners: @grafana/loki-squad, @unguiculus, @Whyeasy, @grafana/tempo, @mapno, @swartz-k, @BitProcessor, @faustodavid

.github/CODEOWNERS:

# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @grafana/helm-charts-admins

/charts/grafana/ @maorfr @torstenwalter @Xtigyro @zanhsieh
/charts/loki-distributed/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/loki-canary/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/promtail/ @grafana/loki-squad @unguiculus @Whyeasy
/charts/tempo/ @grafana/tempo @dgzlopes @swartz-k @BitProcessor @faustodavid
/charts/tempo-distributed/ @grafana/tempo @mapno @swartz-k @BitProcessor @faustodavid
/charts/enterprise-metrics/ @grafana/mimir-maintainers
/charts/rollout-operator/ @grafana/mimir-maintainers
/charts/enterprise-logs/ @grafana/loki-squad
/charts/tempo-vulture/ @grafana/tempo @Whyeasy @dgzlopes
/charts/synthetic-monitoring-agent/ @torstenwalter @zanhsieh
